.health {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.health-action {
    display: flex;
}

.health-action__button--heal {
    background-color: #66ff66;
}

.health-action__button--damage {
    background-color: #ff6666;
}

.health-display {
    display: flex;
    gap: 0.3em;
    justify-content: center;
}

.health-display__current-value--low {
    color: rgb(255, 0, 0);
}

.health-display__current-value--high {
    color: rgb(0, 255, 0);
}
