.health {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.health-action {
    display: flex;
    gap:4px
}

.health-action__button--heal {
    border: 1px solid #33cc33;
    color: #33cc33;
    font-weight:bold;
}

.health-action__button--damage {
    border: 1px solid #cc3333;
    color: #cc3333;
    font-weight:bold;
}

.health-display {
    display: flex;
    gap: 0.3em;
    justify-content: center;
}

.health-display__current-value--high {
    color: #33cc33;
}

.health-display__current-value--low {
    color: #cc3333;
}
