.controls {
    display: flex;
    flex-direction: row-reverse;
}


.columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columns--fill {
    display: flex;
    justify-content: center;
}

.column {
    max-width: 500px;
}
