.skill-scores{
    min-width: max-content;
}

.skill-score {
    display: flex;
    gap: 10px;
    margin: 0.5em 0;
}

.skill-score__modifier {
    align-self: center;
    border-bottom: 1px solid #ececec;
    padding: 0 10px;
}


.skill-score__ability-source {
    opacity: 0.5;
    font-size: 10px;
}
