.table {
    width: 100%;
}

.table td, .table th {
    padding-right: 10px;
    text-align: left;
}

.table tbody {
    font-family: "monospace";
}


table {
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    border-bottom: 1px solid var(--border-color);
}

tr:last-child td{
    border-bottom: none;
}
