.characterSummaryListItem {
    display: grid;
    grid-template-columns:
        1fr 1fr 1fr;
    row-gap: 2em;
    padding: 1em;
}

.characterSummaryListItem:hover{
    background-color: var(--secondary-color);
}
