.controls{
    display: flex;
    flex-direction: row-reverse;
}

.character-sheet{
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-areas:
        ".               header        header"
        "ability-scores  skill-scores   character-info";
}
