.header {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    justify-content: space-between;
    padding: 0 1em;
}

.headerMenuList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.headerMenuList__link {
    display: block;
    padding: 1em;
}

.headerMenuList__link:hover {
    background-color: var(--primary-color);
}
