.modifier-breakdown {
    position: absolute;
    z-index: 1;
    margin-left: 4em;
}

.modifier-breakdown--locked {
    border: 1px solid #3f3;
}

.modifier-breakdown__summary .external-modifier {
    margin-left: 0.5em;
}
